body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    background-color:#ADD8E6; 
    margin: 0; 
}

.calculator {
    grid-column: span 4;
    background-color: black;
    color: white;
    text-align:center;
    padding: 20px;
    font-size: 2em;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}